<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
<system.webServer>
  <staticContent>
    <clientCache cacheControlMode="DisableCache" />
  </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISvcUserMgr" maxReceivedMessageSize="3000000" />
        <binding name="BasicHttpBinding_ISvcDataMgr" maxReceivedMessageSize="3000000" />
        <binding name="BasicHttpBinding_ISvcItemsMgr" maxReceivedMessageSize="3000000" />
        <binding name="BasicHttpBinding_ISvcLinkedItemsMgr" maxReceivedMessageSize="3000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://apps.exelare.com/CBSWS/svcUserMgr.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcUserMgr"
        contract="svcUserMgr.ISvcUserMgr" name="BasicHttpBinding_ISvcUserMgr" />
      <endpoint address="http://apps.exelare.com/CBSWS/svcDataMgr.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcDataMgr"
        contract="svcDataMgr.ISvcDataMgr" name="BasicHttpBinding_ISvcDataMgr" />
      <endpoint address="http://apps.exelare.com/CBSWS/svcItemsMgr.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcItemsMgr"
        contract="svcItemsMgr.ISvcItemsMgr" name="BasicHttpBinding_ISvcItemsMgr" />
      <endpoint address="http://apps.exelare.com/CBSWS/svcLinkedItemsMgr.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISvcLinkedItemsMgr"
        contract="svcLinkedItemsMgr.ISvcLinkedItemsMgr" name="BasicHttpBinding_ISvcLinkedItemsMgr" />
    </client>
  </system.serviceModel>
</configuration>